@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Raleway:wght@400&family=Inter:wght@400&family=Notable&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

.xd {
  box-shadow: 15px 15px #f8d046;
}

.navBtn {
  width: 180px;
  display: flex;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  height: 48px;
}

.navBtnClosed {
  width: 40px;
  height: 48px;
  display: flex;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}

.active {
  background-color: #fff;
}

.navSpan {
  font-size: 1rem;
}
