@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Raleway:wght@400&family=Inter:wght@400&family=Notable&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}

.xd {
  box-shadow: 15px 15px #f8d046;
}

.navBtn {
  width: 180px;
}

.active {
  background-color: #fff;
}

.navSpan {
  font-size: 1rem;
}
